body{
    background-image: url('IMG_6377.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: none;
    font-size: 25px;
}
nav>ul>li>a{
    padding: 10px;
    color: #C12C05;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-right: 10px;
    box-shadow: 5px #FBEB47 ;
}
ul{
    text-align: left;
}
li{
    display: inline-block;
}
nav>ul>li>a:hover{
    box-shadow: 2px 2px 4px #FBF6BB;
    background: #F6AE20;
    color: #E9680E;
}
nav{
    background-color: #28334AFF;
    right: 0;
    top: 0;
    left: 0;
    position: fixed;
}
p{
    color: #
    display: flex;
    flex-direction: row;
    font-family: 'Calistoga', cursive;
}
h2{
    font-family: 'Alatsi', sans-serif;
    /*text-align: center;*/
    margin-top: 5%;
}
.left{
    width: 25%;
    float: left;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, .2);
    z-index: 1;
}
.centre{
    width: 25%;
    float: left;
    background-color: rgba(255, 255, 255, .2);
}
.right{
    width: 25%;
    float: left;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, .2);
    padding-bottom: -20px;
}
h3{
    text-align: center;
    background-color: 
}
.head{
    position: relative;
    top: 100px;
    right: 60px;
}
h1{
    font-family: 'Rye', cursive;
    text-align: center;
}