body{
    background-image: url('IMG_6377.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: none;
}
.first{ 
    width: 300px;
    /*margin: auto;*/
}
nav>ul>li>a{
    padding: 10px;
    color: #FBEB47;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-right: 10px;
}
ul{
    text-align: right;
}
li{
    display: inline-block;
}
nav>ul>li>a:hover{
    box-shadow: 2px 2px 4px;
    background: white;
    color: #E9680E;
}
h1,h2{
    font-family: 'Alatsi', sans-serif;
}