body{
    background-image: url('IMG_6377.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: -2px;
    overflow: none;
    font-size: 25px;
    z-index: -5;
    margin-right: 10%;
    margin-left: 10%;
}
.first{ 
    width: 300px;
    border-radius: 500px;
    /*margin: auto;*/
}
nav>ul>li>a{
    padding: 10px;
    color: #C12C05;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-right: 10px;
    box-shadow: 5px #FBEB47 ;
}
ul{
    text-align: right;
}
li{
    display: inline-block;
}
nav>ul>li>a:hover{
    box-shadow: 2px 2px 4px #FBF6BB;
    background: #F6AE20;
    color: #E9680E;
}
h1,h2{
    font-family: 'Alatsi', sans-serif;
}
p{
    color: #
    display: flex;
    flex-direction: row;
}
h1{
    display: flex;
    justify-content: center;
}
.me{
    background-color: aliceblue;
}