body{
    background-image: url('IMG_6377.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: none;
}
.first{ 
    width: 300px;
    /*margin: auto;*/
}
nav>ul>li>a{
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin-right: 10px;
}
ul{
    text-align: right;
}
li{
    display: inline-block;
}